<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

    <!-- 引入mybatis配置 -->
    <import resource="classpath*:spring-mybatis.xml"/>

    <!-- 引入hibernate配置 -->
    <import resource="classpath*:spring-hibernate.xml"/>

    <!-- 引入redis配置 -->
    <import resource="classpath*:spring-redis.xml" />

    <!-- 引入ehcache配置 -->
    <import resource="classpath*:spring-ehcache.xml" />

    <!-- 引入springTask配置 -->
    <import resource="classpath*:spring-task.xml" />

    <!-- 引入quartz配置 -->
    <import resource="classpath*:spring-quartz.xml" />

</beans>